[submodule "fuzz/winafl"]
	path = fuzz/winafl
	url = ./fuzz/winafl
[submodule "fuzz/NodeFuzz"]
	path = fuzz/NodeFuzz
	url = ./fuzz/NodeFuzz
[submodule "fuzz/oss-fuzz"]
	path = fuzz/oss-fuzz
	url = ./fuzz/oss-fuzz
[submodule "webscan/arachni"]
	path = webscan/arachni
	url = ./webscan/arachni
[submodule "sqli/sqlmap"]
	path = sqli/sqlmap
	url = ./sqli/sqlmap
[submodule "sqli/bbqsql"]
	path = sqli/bbqsql
	url = ./sqli/bbqsql
[submodule "sqli/PowerUpSQL"]
	path = sqli/PowerUpSQL
	url = ./sqli/PowerUpSQL
[submodule "sqli/commix"]
	path = sqli/commix
	url = ./sqli/commix
