[submodule "fuzz/winafl"]
	path = fuzz/winafl
	url = https://github.com/njseclab/winafl.git
  
[submodule "fuzz/NodeFuzz"]
	path = fuzz/NodeFuzz
	url = https://github.com/njseclab/NodeFuzz.git
  
[submodule "fuzz/oss-fuzz"]
	path = fuzz/oss-fuzz
	url = https://github.com/njseclab/oss-fuzz.git
